@font-face {
    src: url(../fonts/Montaga-Regular.ttf);
    font-family: font1;
    font-weight: normal;
}
@font-face {
    src: url(../fonts/Roboto-Black.ttf);
    font-family: font2;
    font-weight: lighter;
}
.major {
    display: flex;
    align-items: center;
}
.infodescription {
    font-family: font1;
    font-size: 48px;
}
.infodescription2 {
    font-family: font1;
    font-size: 24px;
}
.infodescription3 {
    font-family: font2;
    font-size: 12px;
    text-align: left;
    margin-left: 80px;
    margin-top: 20px;
}
.linkedin {
    height: 120%;
    width: 140%;
    margin-top: 2px;
    margin-left: 70px;
}
.left {
    width: 30%;
    height: 30%;
    margin-top: 5%;
}
.right {
    width: 30%;
    margin-right: 25%;
    height: 30%;
    margin-top: 5%
}
.under {
    width: 30%;
    margin-right: 25%;
    height: 100%;
    margin-top: 5%
}
.photo {
    height: 80%;
    width: 80%;
    margin-left: 70px;
    text-align: center;
}
.cliff {
    height: 80%;
    width: 80%;
    margin-left: 70px;
    text-align: center;
}
.top {
    text-align: left;
    margin-top: 50px;
    margin-bottom: auto;
}
.seawarden {
    height: 50%;
    width: 20%;
    margin-top: 2px;
    margin-left: 70px;
    text-align: center;
}
.jump61 {
    height: 50%;
    width: 20%;
    margin-top: 2px;
    margin-left: 70px;
}
.buildabear {
    height: 50%;
    width: 20%;
    margin-top: 2px;
    margin-left: 70px;
    text-align: center;
}
.scheme {
    height: 50%;
    width: 20%;
    margin-top: 2px;
    margin-left: 70px;
    text-align: center;
}
.stonks {
    height: 50%;
    width: 20%;
    margin-top: 2px;
    margin-left: 70px;
    text-align: center;
}
.ants {
    height: 50%;
    width: 20%;
    margin-top: 2px;
    margin-left: 70px;
    text-align: center;
}
.row1 {
    display: flex;
}
.row2 {
    display: flex;
}
.column {
    float: left;
    flex: 33.33%;
    padding: 5px;
}