.navigation {
    background-color: rgb(202, 179, 153);
}
.navbar {
  display: inline-block;
}
.navlink {
    color: black;
    text-decoration: none;
    position: relative;
    margin: 15px;
}
.navlinks {
  display: inline-block;
  width: 100%;
  margin: 10%;
}
.navlink:hover {
    color: rgb(231, 214, 189);
    text-decoration: none;
}

/* .navigation {
    background-color: #EBE3D7;
  }
.navLinks {
    text-align: right;
  }
.links {
    padding-top: 2%;
    width: 50%;
    text-align: right;
    display: inline-block;
  }
.link1 {
    position: relative;
    color: black;
    font-family: font1;
    font-size: 20px;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
} */
