@font-face {
    src: url(../fonts/Montaga-Regular.ttf);
    font-family: font1;
    font-weight: normal;
}
@font-face {
    src: url(../fonts/Roboto-Black.ttf);
    font-family: font2;
    font-weight: lighter;
}
.projectname {
    font-family: font1;
    font-size: 32px;
}
.projectdescription {
    font-family: font2;
    font-size: 16px;
}
.ants {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}
.column {
    float: left;
    flex: 33.33%;
    padding: 5px;
}